<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Marvel" class="img-responsive text-center" src="modules/core/img/brand/logo2.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				<strong>The Unofficial countdown to Marvel's "Civil War" Movie</strong>
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://marvel.com/movies/all" target="_blank">Find Out More Here!</a>
			</p>
		</div>
	</div>
	<div>
		<center>
			<h2><strong>Welcome to the Marvel "Countdown to Civil War" fan page!</strong></h2>
			<p>This page is dedicated to the movie adaptation of one of the best comic series of all time. Here
			are some series to catch up on before "Civil War" hits theaters.</p>
		</center>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<img alt="ironman" class="img-responsive text-center" src="modules/core/img/brand/IronManLogo.png" />
			</h2>
			<p>
				<ul>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/Iron_Man_(2008_film)">Iron Man</a>
				</li>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/Iron_Man_2">Iron Man 2</a>
				</li>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/Iron_Man_3">Iron Man 3</a>
				</li>
				</ul>
			</p>
		</div>
		<div class="col-md-3">
			<h2>
				<img alt="hulk" class="img-responsive text-center" src="modules/core/img/brand/hulk.png" />
			</h2>
			<p>
				<ul>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/The_Incredible_Hulk_(film)">The Incredible Hulk</a>
				</li>
				</ul>
			</p>
		</div>
		<div class="col-md-3">
			<h2>
				<img alt="thor" class="img-responsive text-center" src="modules/core/img/brand/thor.png" />
			</h2>
			<p>
				<ul>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/Thor_(film)">Thor</a>
				</li>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/Thor:_The_Dark_World">Thor: The Dark World</a>
				</li>
				</ul>
			</p>
		</div>
		<div class="col-md-3">
			<h2>
				<img alt="cap" class="img-responsive text-center" src="modules/core/img/brand/cap.png" />
			</h2>
			<p>
				<ul>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/Captain_America:_The_First_Avenger">Captain America: The First Avenger</a>
				</li>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/Captain_America:_The_Winter_Soldier">Captain America: The Winter Soldier</a>
				</li>
				</ul>
			</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<img alt="ironman" class="img-responsive text-center" src="modules/core/img/brand/avengers.png" />
			</h2>
			<p>
				<ul>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/The_Avengers_(2012_film)">The Avengers</a>
				</li>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/Avengers:_Age_of_Ultron">The Avengers: Age Of Ultron</a>
				</li>
				</ul>
			</p>
		</div>
		<div class="col-md-3">
			<h2>
				<img alt="hulk" class="img-responsive text-center" src="modules/core/img/brand/guardians.png" />
			</h2>
			<p>
				<ul>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/Guardians_of_the_Galaxy_(film)">Guardians Of The Galaxy</a>
				</li>
				</ul>
			</p>
		</div>
	</div>
	<div class="well">
		<center>
		<h2><strong>More Updates Coming Soon!</strong></h2>
		<p>
			Check back periodically for movie Marvel film updates
			<br>

		</p>
		</center>
	</div>
</section>